/*Stylesheet by Erin J. LeFevre, 2020*/

.chartTitle {
	font-family: sans-serif;
	font-size: 0.75em;
	font-weight: 200;
    fill: #b52025;
}

@media only screen and (min-width: 1025px) {
.grid-container {
    display: grid;
    grid-template-columns: .7fr 1.2fr 1fr;
    grid-gap: 0px;
	}
}

.grid.container {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

#aboutContainer {	
	float: left;
	margin-right: 50px;
}

#aboutContainer.dropdown {	
	float: left;
	margin-right: 50px;
}

#mapContainer {	
	float: left;
    	
}

#chartContainer {
  
  border: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
    
}

#copy{
    text-align: justify;
	width: 65%;
	height: 145px;
	
}

p {
    font-family: sans-serif;
	font-size: .85em;
	margin-left: 30px;
	text-align: justify;
	
}

hr {
    border: .25px dashed #d65436;
	margin-left: 30px;
	
}

h2 {
	font-family: sans-serif;
	margin-left: 30px;
	margin-top: 40px;
	color: #b52025;
	font-weight: 100;
	
}

h4 {
	font-family: sans-serif;
	margin-left: 30px;	
	color: #b52025;
	margin-bottom: 10px;
	font-weight: 100;
	
}


.chart {
	
	margin:0px 0px 0px 0px;
}

.map {
	
	margin:0px 0px 0px 0px;
}

.chartBackground {
	fill: none;
}

.chartFrame {
	fill: none;
	stroke: none;
	stroke-width: .5px;
	shape-rendering: crispEdges;
}

.numbers {
	fill: white;
	font-family: sans-serif;
	font-size: 1em;
}

.dropdown {
    position: absolute;
    top: 550px;
    left: 38px;
    z-index: 10;
    font-family: sans-serif;
    font-size: .75em;
    font-weight: thin;
	color: #b52025;
    padding: 2px;
    border: 1px solid #000;
	background-color: #d3beab;
    box-shadow: 1px 1px 2px #000;
}

option {
    font-weight: normal;
}


.infolabel {
	position: fixed;
	height: 35px;
	min-width: 50px;
	color: white;
	background-color: black;
	border: solid thin #000;
	border-radius: 6px 6px 6px 6px;
	padding: 5px 5px;   
	top: -75px;
	font-family: sans-serif;
	font-size: .65em;
}

.infolabel h1 {
	margin: 0 10px 0 0;
	padding: 0;
	display: inline-block;
	line-height: 1em;
}
	

.countries {
	fill: #FFF;
	stroke: #fff;
	stroke-width: 2px;
}


.axis path,
.axis line {
	fill: none;
	stroke: none;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 1em;
	fill: #b52025;
}

.regions {
    
	stroke: #fff;
	stroke-width: .55px;
	stroke-linecap: round;
	
}

.regions:hover {opacity: 0.50};
	
.stroke2 {	
	stroke: blue;
	stroke-width: .55px;
	stroke-linecap: round;
}

a:link {
  color: #b52025;;
}

/* visited link */
a:visited {
  color: #b52025;
}

/* mouse over link */
a:hover {
  color: #d65436;
}

/* selected link */
a:active {
  color: #b52025;;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}






	

	
	
	
	